*{
    margin: 0;
    size: auto;
}
.Home{
    margin: 10px;
}

main {
    display: flex;
    padding-left: 10px;
   
}
header {
    background-color: #ff9b21;
    height : 60px;
    margin: 0px; 
}
.f4{
    display: flex;
    font-size: 30px;
}
.search{
    padding-left: 800px; 
    height: 20px;
    align-self: center;
}
menu{
    float: right;
    border-right: 2px;

}
ul {
    display: flex;
     margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    flex-direction: column;
    padding-top: 30px;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    position: relative;
    float: right;
    width: 800px;
    height: 500px;
    padding-left: 40px;
    padding-top: 30px;
}
.item{
    border: 2px solid green;
    height: 190px;
    width: 190px;
    display: flex;
    align-items: center;
}

footer
{
    background-color: grey;
    height: 50px;
    margin-top: 300px;
  
}